.cart-button {
    display: inline;
    margin-left: 620px;
    font-size: 15px;
    color: aliceblue;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 25px;
    background-color: rgb(58, 58, 58);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .meals-button{
    width: 80px;
    border-radius: 14px;
    background-color: rgb(98, 255, 98);
    float: right;
    transform: translateX(40px) translateY(-1rem);
  
  }